@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: my-font;
    src: url(/Miama.ttf);
}
body{
    font-family: "Inter", sans-serif;
    background-color: #000000;
    color: white;
}
.flex-item{
    display: flex;
}
body section{
    margin-top: 80px;
}
.navbar, .banner{
    max-width: 1100px;
    /* border:1px solid red; */
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
/* navbar start  */
.navbar-banner{
    background-image: linear-gradient(black,#232323,black);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}
.menu{
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 0.01px solid rgb(178, 168, 168); */
    border-radius: 50px;
    gap: 60px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #0E0E0E;
}
.menu p{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1rem;
font-weight: 300;
}
.navbar h2{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
}
.nav-btn{
    border: 1px solid rgb(230, 83, 60);
    width: 100px;
    height: 48px;
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
}
.padd{
    padding: 20px;
}
.hamburger{
    display: none;
}
/* navbar complete */


/* banner start  */

.banner{
justify-content: space-between;
align-items: center;
margin-top: 80px;
}
.text-banner{
    max-width: 450px;
}
.img-banner{
    max-width: 350px;
    position: relative;
}
.img-banner img{
    width: 100%;
}
.text-banner h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 4.2rem;
font-weight: 900;
margin-bottom:25px ;
line-height: 80px;
}
.miami{
    font-family: my-font;
    font-size: 8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.text-banner p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.9rem;
font-weight: 350;
margin-bottom: 25px;
}
.banner-btn1{
    width: 220px;
    height: 54px;
    background-color: #E6533C;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    font-weight: 700;
    border: none;
}
.banner-btn2{
    width: 220px;
    height: 54px;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid white;
}
.floating-text{
    margin: 0 auto;
    text-align: left;
}
.floating-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#E6533C;
    margin-left: 20px;
}
.floating-div1{
    width: 200px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393939ab;
    background-blend-mode: overlay;
    border-radius: 15px;
    position: absolute;
    bottom: 90px;
    left: -80px;
}
.floating-div2{
    width: 200px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #393939ab;
    background-blend-mode: overlay;
    border-radius: 15px;
    position: absolute;
    top: 120px;
    right: -80px;
}
.floating-div1 h3{
font-weight: 900;
font-size: 1.4rem;
}
.img-banner p{
font-size: 1rem;
font-weight: 300;
}
.floating-div2 h3{
font-size: 1.6rem;
font-weight:900;
}

/* change your habit section */
.habit-section{
    max-width: 1100px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.habit-text{
    text-align: center;
    max-width: 660px;
}
.inside-img-section{
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.habit-img-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.inside-img-section img{
 border-radius: 50%;
}
.inside-img-section h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
}
.inside-img-section p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 350;
}
.habit-text h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}
.habit-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
/* my own section  */



.my-main-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* margin: 0 auto; */
    /* gap: 100px; */
}
.my-own-text{
    width: 400px;
}
.my-own-text h3{
    color: rgba(255, 255, 255, 0.87);
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
}
.my-own-text p{
    color: rgba(255, 255, 255, 0.664);
    font-size: .9rem;
    font-weight: 400;
    padding: 10px;

}
.add-photo{
    width: 150px;
    height: 50px;
    color: rgba(255, 255, 255, 0.869);
    background-color: #E6533C;
    border: none;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 1rem;
    
}
.my-section{
    max-width:1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}
.own-photo-section{
    width: 300px;
    height:350px;
    background-image: url(../images/exercise1.jpg);
    background-color: rgba(255, 0, 0, 0.251);
    background-blend-mode:overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* border-radius: 20px; */
    position: relative;


}
.inner-photo-section{
    width: 220px;
    height: 280px;
    background-image: url(../images/exercise2.png);
    background-color: #00ff3c2d;
    background-blend-mode:overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
    position: absolute;
    left: 150px;
    top: 138px;
    
}
.inner-photo-section2{
    width: 150px;
    height: 180px;
    background-image: url(../images/exercise3.png);
    background-color: #0000ff2d;
    background-blend-mode:overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
    position: absolute;
    left: 280px;
    top: 292px;
    
}
.icon{
color:rgba(255, 255, 255, 0.908);
font-size: 3rem;
font-weight: 700;


}

/* run extra mile */
.run-section{
    background-color: #222222;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    border-radius: 20px;
    padding: 20px;
}
.run-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 420px;
    text-align: start;
}
.run-img{
    width: 350px;
    height: 300px;
    background-image: url(../images/run.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position:65% 30%;
    border-radius: 20px;
}
.run-text h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 800;
}
.run-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: .9rem;
font-weight: 400;
}
/* Bmi calculator section  */
.bmi-calculator{
    max-width: 671px;
    margin: 0 auto;
}
.bmi-calculator h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.bmi-calculator p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
/* Bmi calculator main section  */
.bmi-main-calculator{
    max-width: 1440px;
    background-color: #222222;
}
table{
    border: 1px solid #3f3e3e;
    border-collapse: collapse;
    width: 300px;
    height: 200px;
    /* text-align: start; */
}
tr,td,th{
    border: 1px solid #3f3e3e;
    padding: 10px;
    text-align: start;
}
td{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: .9rem;
font-weight: 400;
}
th{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
}
caption{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.8rem;
font-weight: 800;
text-align: start;
margin-bottom: 52px;
}
.bmi-main-calculator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.text-calculate{
    max-width: 550px;
    margin-bottom: 30px;
}
.text-calculate h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
margin-bottom: 20px;
margin-top: 20px;
}
.text-calculate p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-calculator{
    margin-top: 30px;
    margin-bottom: 20px;
}
.calculator input{
    max-width: 200px;
    height: 24px;
    background-color: #393939;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.option1{
    width: 179px;
    height: 33px;
    background-color: #393939;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.419);
}
.option2{
    width: 362px;
    height: 33px;
    background-color: #393939;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.378);
}


/* meet our team section  */
.trainer-img{
    max-width: 1050px;
    background-color: #ffffff2d;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 14px;
}
.train{
    font-size: .9rem;
    font-weight: 300;
   margin-left: 10px;
   margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.607);

}
.trainer-name{
    font-size: 1.2rem;
    font-weight:900;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.837);
}
.trainer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.photo1,.photo2,.photo3,.photo4,.photo5,.photo6{
   width: 315px;
   height: 270px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: end;
   background-color: #39393975;
   background-blend-mode: overlay;
}
.photo1{
    background-image:url(../images/trainer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
}
.photo2{
    background-image:url(../images/trainer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
}
.photo3{
    background-image:url(../images/trainer3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
}
.photo4{
    background-image:url(../images/trainer4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
}
.photo5{
    background-image:url(../images/trainer5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
}
.photo6{
    background-image:url(../images/trainer6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
}
.trainer-text h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 800;
margin-bottom: 20px;
}
.trainer-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: .9rem;
font-weight: 300;
}
/* footer section  */
.main-footer{
    max-width: 1440px;
    background-color: #222222;
}
hr{
    max-width: 1100px;
}
.footer-text{
    text-align: center;
}
.footer{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.text1{
    max-width: 300px;
    line-height: 30px;
}
.footer-t{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.592);
}
.text1 h2{
font-size: 1.5rem;
font-weight: 700;
color: rgba(255, 255, 255, 0.902);
}
.text1 p{
    font-size:1rem;
    font-weight: 400;
    color :rgba(255, 255, 255, 0.783);
}
.footer-h{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 30px;
}
@media screen and (max-width: 576px) {
       
    .menu{
        display: none;

    }
    .hamburger{
        display: block;
    }
    .banner,
    .habit-section,
    .run-section,
    .bmi-main-calculator,.footer,.my-main-section
    {
        flex-direction: column;
    }
    .habit-img-section,
    .trainer-img{
        grid-template-columns: repeat(1,1fr);
    }
    .floating-div1{
      bottom: 120px;
      left: -40px;
    }
    .floating-div2{
        top: 30px;
        right: -30px;
    }
    .banner-btn1,.banner-btn2{
        width: 200px;
    }
    .navbar-banner{
        margin-top: 30px;
        margin-left: 0;
    }
    .text-banner h1{
        font-size: 3.8rem;
    }
    .run-img{
        background-size: cover;
        height: 280px;
        margin-right: 10px;
    }
    .run-button{
        width: 350px;
    }
    .calculator input{
        max-width: 180px;

    } 
    .option1{
        max-width: 190px;
    }
    .option2{
        max-width: 383px;
    }
    .footer{
        align-items: start;
    }
    .main-calculator{
        margin-left: 20px;
    }
    .my-own-text{
        margin-top:20px;
    }
   .inner-photo-section,.inner-photo-section2{
    display: none;
   }
   .icon{
    position: relative;
    top: -203px;
   }
   .text1{
    margin-top: 20px;
   }
}
@media screen and (min-width: 992px) {
    .floating-div2{
        width: 170px;
        top: 50px;
        right: -3px;

    }
    .trainer-img{
        max-width: 950px;
        
    }
    .photo{
        width: 250px;
        height: 200px;
        overflow: hidden;
        border-radius: 15px;
     
     }
     .photo1,.photo2,.photo3,.photo4,.photo5,.photo6{
        width: 290px;
        height: 250px;
     
     }
}